* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #2c3333;
}

/* Navbar */

nav {
  height: fit-content;
  padding: 0px 80px;
  background-color: #333a3a;
  border: none;
}

nav.light {
  background-color: #a5c9ca;
}

.logo {
  line-height: 80px;
  color: #e7f6f2;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.logo span {
  color: #a5c9ca;
}

.logo span.light {
  color: #273c42;
}

.nav-div {
  float: right;
  width: fit-content;
  line-height: 80px;
}

.mode-icon {
  color: #a6adac;
  font-size: 20px;
  transform: rotate(225deg);
}

.mode-icon.light {
  color: #273c42;
}

.checkbtn {
  cursor: pointer;
  color: #a5c9ca;
  font-size: 23px;
  display: none;
  float: right;
  line-height: 80px;
}

#check {
  display: none;
}

ul {
  float: left;
  list-style: none;
  padding: 0px 50px 0px 0px;
  margin: 0px 0px 0px 50px;
  line-height: 80px;
}

li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-link {
  text-decoration: none;
  color: #a6adac;
  cursor: pointer;
}

.nav-link.light {
  color: #395b64;
}

/* .nav-link:active {
  color: aquamarine;
} */

.nav-link.light.active {
  color: #e7f6f2;
}

.nav-link:hover {
  text-decoration: none;
  color: #e7f6f2;
  transition: ease-in-out 0.3s;
}

form {
  float: right;
}

form input {
  height: 50px;
  width: 300px;
  padding: 6px 20px;
  border: none;
  margin-top: 15px;
  margin-right: 50px;
  font-size: 17px;
  font-weight: 500;
  line-height: 80px;
  background-color: #242b2b;
  outline: 0px;
  /* border-radius: 50px; */
  color: #a6adac;
}

input.light {
  background-color: #e7f6f2;
}

.active {
  color: #e7f6f2;
}

.active:hover {
  color: #e7f6f2;
}

/* .active-bar {
  border: 2px solid #e7f6f2;
  color: #e7f6f2;
} */

/* Cards Section */

section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50px;
  background-color: #2c3333;
}

section.light {
  background-color: #e7f6f2;
}

.card {
  width: 220px;
  height: fit-content;
  object-fit: cover;
  object-position: 50% 50%;
  text-align: center;
  margin: 60px 30px 0px 30px;
}

/* .poster:hover {
  border: 5px solid #df7861;
  transition: ease-in-out 0.3s;
} */

.poster-div {
  position: relative;
  margin-bottom: 10px;
}

.poster-div__img {
  max-width: 100%;
  height: auto;
  /* background-color: #e7f6f2; */
  margin-bottom: 0px;
  border: 3px solid #a5c9ca;
  display: block;
  /* border-radius: 10px; */
}

.poster-div__img-light-mode {
  border: 3px solid #395b64;
}

.poster-div__overlay {
  border: 3px solid #a5c9ca;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.25s;
  /* backdrop-filter: blur(5px); */
}

.poster-div__overlay > * {
  transform: translateY(20px);
  transition: opacity 0.25s;
}

.poster-div__overlay:hover > * {
  transform: translateY(0);
}

.poster-div__overlay:hover {
  opacity: 1;
}

/* .poster-div__overlay:active {
  opacity: 0.8;
} */

/* button {
  color: white;
  background: #df7861;
  padding: 10px 13px;
  border: none;
  font-size: 18px;
  backdrop-filter: blur(5px);
  border-radius: 6px;
} */

.title {
  color: #e7f6f2;
  display: block;
  font-size: 17px;
  letter-spacing: 0.5;
  width: 100%;
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis;
  cursor: pointer;
}

.title.light {
  color: #2c3333;
}

.title:hover {
  color: #a6adac;
  transition: ease-in-out 0.2s;
}

.date {
  font-size: 14px;
  color: #a6adac;
  margin-bottom: 10px;
  font-weight: 500;
}

.info {
  width: 100%;
  margin: 0px;
}

/* .popup{
  width: 90%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.footer-div {
  text-align: center;
  background-color: #333a3a;
  /* border-top: 2px solid #395b64; */
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.prevPage {
  margin: 0px 20px 0px 20px;
  padding: 10px 13px;
  background: none;
  border: 2px solid #395b64;
  color: #e7f6f2;
  border-radius: 2px;
  font-size: 15px;
  backdrop-filter: blur(5px);
}

.prevPage-light-mode {
  color: #273c42;
}

.prevPage-light-mode:hover {
  color: #e7f6f2;
}

.nextPage {
  margin: 0px 20px 0px 20px;
  padding: 10px 13px;
  background: none;
  border: 2px solid #395b64;
  color: #e7f6f2;
  border-radius: 2px;
  font-size: 15px;
  backdrop-filter: blur(5px);
}

.nextPage-light-mode {
  color: #273c42;
}

#currentPage {
  background: #395b64;
  margin: 0px 20px 0px 20px;
  padding: 10px 13px;
  border: 2px solid #395b64;
  border-radius: 2px;
  font-size: 15px;
  backdrop-filter: blur(5px);
  color: #e7f6f2;
}

.footer-div button:hover {
  background: #395b64;
}

.copyright {
  margin: 20px 0px 0px 0px;
  color: #a5c9ca;
}

.copyright-light-mode {
  color: #273c42;
}

.copyright a {
  color: inherit;
  text-decoration: underline;
}

.footer-div.light {
  background-color: #a5c9ca;
}

.footer-div.light .nextPage {
  margin: 0px 20px 0px 20px;
  padding: 10px 13px;
  background: none;
  border: 2px solid #395b64;
  color: #395b64;
  border-radius: 2px;
  font-size: 15px;
}

.footer-div.light .prevPage {
  margin: 0px 20px 0px 20px;
  padding: 10px 13px;
  background: none;
  border: 2px solid #395b64;
  color: #395b64;
  border-radius: 2px;
  font-size: 15px;
}

.footer-div.light .nextPage:hover {
  background-color: #395b64;
  color: #e7f6f2;
}

.footer-div.light .prevPage:hover {
  background-color: #395b64;
  color: #e7f6f2;
}

.footer-div.light .copyright {
  color: #395b64;
}

/* No BookMark Page */
.no-bookmark {
  width: 100%;
  height: calc(100vh - 80px - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-bookmark p {
  color: #a5c9ca;
  font-size: 30px;
}

@media (max-width: 1229px) {
  .checkbtn {
    display: block;
  }

  .checkbtn.light {
    color: #395b64;
  }

  /* body {
    overflow: hidden;
  } */

  nav {
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1;
  }

  .nav-div {
    position: fixed;
    width: 100%;
    /* height: calc(100vh - 80px); */
    background-color: #3c4242;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    left: -100%;
    transition: all 0.5s;
    z-index: 1;
    float: none;
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav-div.light {
    background-color: #96c0c2;
  }

  ul li {
    display: block;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form input {
    margin: 0px;
  }

  form i {
    margin: 30px;
  }

  #check:checked ~ .nav-div {
    left: 0;
  }

  section {
    padding-top: 80px;
  }
}

@media (max-width: 650px) {
  nav {
    height: fit-content;
    padding: 0px 40px;
    background-color: #333a3a;
  }
}

