* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #e7f6f2 */
/* #a5c9ca */
/* #a6adac */
/* #395b64 */
/* #2f4a52 */

.container {
  padding: 0px;
}

#back-button {
  color: #a5c9ca;
  font-size: 25px;
  padding: 0px;
}

.overview-top {
  width: 100%;
  height: 100vh;
  background-size: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 40px 50px 60px 50px;
  /* border-bottom: 3px solid #a5c9ca; */
}

.overview-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans serif;
  opacity: 0.7;
  text-align: center;
  padding: 0px 20px;
  background-color: #000;
}

.overview-content-layer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overview-content {
  width: 57%;
}

.overview-content .date {
  font-size: 15px;
  color: #a6adac;
  margin: 0px;
  letter-spacing: 1px;
}

.overview-title {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: #fff;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.overview-overview {
  font-size: 15px;
  color: #a6adac;
  margin-bottom: 20px;
}

.trailer {
  padding: 0px 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #a5c9ca;
  background-color: #a5c9ca;
  color: #395b64;
  transition: ease-in-out 0.5s;
}

.trailer:hover {
  background-color: #395b64;
  color: #a5c9ca;
  border: 1px solid #395b64;
}

.genre {
  color: #c84b31;
  margin-bottom: 10px;
}

.rating-star {
  color: #d8b64b;
}

a {
  text-decoration: none;
}

/* Modal */

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #585858;
  font-family: "Roboto", sans-serif;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.8);
  transition: all 0.4s;
  width: 100%;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: fit-content;
  height: 600px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__footer {
  text-align: right;
}

.modal__close {
  position: absolute;
  top: 0px;
  right: 20px;
  color: #585858;
  text-decoration: none;
  font-size: 30px;
}

.director-casts {
  width: 100%;
  height: fit-content;
  padding: 30px 50px;
}

.casts {
  width: 100%;
  height: fit-content;
  margin: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.casts-title {
  color: #a5c9ca;
  font-size: 35px;
  padding: 30px 0px;
}
.cast {
  width: 25%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* background-color: #353d3d; */
  margin: 0px 60px 0px 0px;
  padding: 20px 0px;
}

.img-div {
  width: 110px;
  height: 150px;
  overflow: hidden;
  margin-right: 20px;
  object-fit: cover;
  text-align: center;
  float: left;
}

.cast-image {
  width: 110px;
  /* height: 90px; */
  margin-top: 20px;
}

.cast-name {
  float: right;
}

.cast b p {
  color: #fff;
  margin: 0px;
  display: block;
  letter-spacing: 0.8;
}

.cast p {
  color: #a6adac;
  margin: 0px;
  display: block;
}

.show-more {
  background-color: #a5c9ca;
  width: 100px;
  padding: 10px 0px;
  font-size: 15px;
  border: none;
}

.show-more:hover {
  background-color: #96b5b6;
  width: 100px;
  padding: 10px 0px;
}

.show-more:active {
  background-color: #809a9b;
}
